  
  <div class="home-cont">
    <h1>HOME</h1>
    <p class="intro-paragraph">Welcome to Multi Web Page, your go-to source for information and inspiration. 💪🚀 Dive into a world of endless possibilities as we bring you a diverse array of content across various topics. Whether you're seeking the latest trends, informative articles, or a dose of motivation, Multi Web Page is here to cater to your interests. Join our community and embark on a journey of discovery, knowledge, and inspiration.</p>

  <section>
    <h2><a routerLink="shopping-list">Shopping List</a></h2>
    <p>Are you heading to the store and often forget what you need to buy? Not sure how much money to bring along? Check out our shopping list app and never fall into those pitfalls again! 🛒✨</p>
    <a class="bottom-link" routerLink="shopping-list">Click here</a> 
  </section>

  <section>
    <h2><a routerLink="todays-quote">Today's Quote</a></h2>
    <p>Step into a world of endless motivation and wisdom. Let powerful quotes uplift your spirits on our page - your haven for daily inspiration. 🌟✨</p>
    <a class="bottom-link" routerLink="todays-quote">Click here</a>
  </section>

  <section>
    <h2><a routerLink="great-personas">Great Personas</a></h2>
    <p>Explore fascinating stories of intriguing and motivational figures who have shaped the world. Dive into a world of inspiration on our page - your source for remarkable life lessons. 🌟🎓</p>
    <a class="bottom-link" routerLink="great-personas">Click here</a>
  </section>
  
  <section>
    <h2><a routerLink="contact">Need a help?</a></h2>
    <p>Do you need any kind of an assistance. Feel free to reach us out.</p>
    <a class="bottom-link" routerLink="contact">Click here</a>
  </section>
</div>