<header>
    <div class="logo">
      <img src="assets/images/brainstorm.png" alt="Multi Web Page Logo">
      <!-- <img src="../../../assets/images/brainstorm.png" alt="Multi Web Page Logo"> -->
    </div>

    <div class="vertical-line"></div>

    <nav>
      <ul>
        <li><a routerLink="">
          <img src="assets/images/home.png" alt="Home Page Icon">
        </a></li>

        <li><a routerLink="shopping-list">
          <img src="assets/images/shop.png" alt="Shopping List Page Icon">
        </a></li>

        <li><a routerLink="todays-quote">
          <img src="assets/images/quote.png" alt="Today's Quote Page Icon">
        </a></li>
        
        <li><a routerLink="great-personas">
          <img src="assets/images/persona.png" alt="Great Personas Page Icon">
        </a></li>

        <li><a routerLink="contact">
          <img src="assets/images/contact.png" alt="Contact Page Icon">
        </a></li>
      </ul>
    </nav>

</header>