.shopping-list-cont1 {
  text-align: center;
}

h1 {
  letter-spacing: 3px;
}

ul {
  padding: 1.75rem 1rem 1rem;
  background-color: rgb(172, 195, 209);
  border-bottom: 2px solid rgb(71, 85, 94);
  border-radius: 5px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}





